<div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="mt-2 mb-2">
          <h6 class="mb-1">Shivam Medical Store</h6>
          <p class="small mb-0" style="line-height: 1.4;">Ghorawal Road near private bus stand Robertsganj Sonebhadra</p>
        </div>
      </div>
    </div>

    <div class="mt-4">
        <h6>Delivery Address</h6>
        <div class="row mt-3">
            <div class="col-12">
                <input type="text" class="form-control mb-3" placeholder="Delivery Area">
            </div>
            <div class="col-12">
                <input type="text" class="form-control mb-3" placeholder="Complete Address">
            </div>
            <div class="col-12">
                <input type="text" class="form-control mb-3" placeholder="Nearby Landmark (optional)">
            </div>
        </div>
    </div>

    <div class="order-box checkout gradient">
        <div class="row">
            <div class="col-12">
                <h6 class="text-white mb-3">Mode of Payment</h6>
            </div>
        </div>
        <div class="row">
          <div class="col-6">
            <button pButton pRipple type="button"
            class="bg-white fw-bold text-black p-button-rounded">Online Paid</button>
          </div>
          <div class="col-6">
            <button [routerLink]="['/doctor/placed']" pButton pRipple type="button"
              class="bg-white fw-bold text-black p-button-rounded">Cash On Delivery</button>
          </div>
        </div>
      </div>
  </div>

